//Colors
$bg-color: #4c5454;
$font-color: #ffffff;
$button-color: #ff715b;
$form-color: #1ea896;

//Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$header-font: "Open Sans", sans-serif;
