#add-course {
  width: 90%;
  margin: auto;

  input[type="text"] {
    width: 99%;
    margin: 0 auto 0.5em;
    padding: 1em;
    height: 3em;
    font-size: 1em;
  }

  .button {
    margin: 2em 0;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
  }
}
